@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-primary: #10100f;
    --color-secundary: #d2b255;
    --color-terceary: #070707;
    --color-paragraph: #ebf2fa;
}

body {
    background-color: var(--color-primary);
    /* background-color:hsl(5, 12%, 35%); */
}

.wrapper {
    /* display: flex; */
    /* flex-flow: wrap; */
    width: 95%;
    margin: 0 auto;

}

/* HEADER */

.header {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center;  */
}

.header .logo {
    /* background-color: wheat; */
    color: var(--color-secundary);
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* line-height: 20vh; */
    margin-bottom: 0px;
    
}

.header .logo a {
    height: 20vh;
    width: 20vh;
    background: url(assets/img/logo/logo-carinho.svg);
    background-repeat: no-repeat;
    background: cover;
    margin-top: 40px;
}

.header .menu-carrinho {
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.header .menu-carrinho .menu {
    width: 90%;
    display: flex;
    align-items: center;
}

.header .menu-carrinho .menu ul {
    width: 90%;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    margin-left: 150px;

}

.header .menu-carrinho .menu ul li {
    margin-right: 25px;
}

.header .menu-carrinho .menu ul li a {
    color: var(--color-paragraph);
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}

.menu-carrinho .menu ul li a:after {
    content: "";
    width: 0;
    position: absolute;
    height: 3px;
    background-color: var(--color-secundary);
    bottom: -5px;
    left: 0;
    transition: 0.3s;
}

.menu-carrinho .menu ul li a:hover {
    color: #fff;
}

.menu-carrinho .menu ul li a:hover:after {
    width: 100%;
}

.header .menu-carrinho .carrinho {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .menu-carrinho .carrinho a i {
    color: var(--color-paragraph);
    font-size: 20px;
}

/* MAIN */

.main {
    height: 65vh;
    width: 100%;
    background: url('assets/img/slider/produto-slider2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.main .slider {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: end;
}

.main .slider .slider-content {
    width: 30%;
    height: 35%;
    float: bottom;
    padding: 65px;
}

.main .slider .slider-content .h-content {
    color: var(--color-paragraph);
    font-size: 1rem;
    overflow: hidden;
}

.main .slider .slider-content .slider-button {
    padding: 15px 20px;
    background-color: var(--color-secundary);
    border: none;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;

}

.main .slider .slider-content .slider-button a {
    text-decoration: none;
    color: var(--color-paragraph);
}

.main .resume-description {
    height: 25vh;
    width: 100%;
    display: flex;
    position: relative;
}

.main .resume-description .fashion-content {
    height: 25vh;
    width: 30%;
    /* background-color: brown; */
    font-family: "Poiret One", sans-serif;
    color: var(--color-paragraph);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 1000;
    letter-spacing: 2px;
    
}

.main .resume-description .descrition-content {
    height: 25vh;
    width: 70%;
    /* background: aqua; */
    color: var(--color-paragraph);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin: 0 50px;
    text-align: justify;
}

.product-menu {
    width: 100%;
    height: 105vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-top: 15px;

}

.product-menu .item-product {
    box-sizing: border-box;
    /* padding: 10px; */
    /* border: 1px solid #ccc; */
    border-radius: 15px;
    margin: 15px;
    height: 300px;
    overflow: hidden;
}

.product-menu .item-product .img-product{
    /* background-color: #FFBBFF; */
    height: 80%;
    width: 100%;
    /* background: url(assets/img/products/product1.jpeg); */
}

.product-menu .item-product .product1{
    height: 80%;
    width: 100%;
    background: url(assets/img/products/product1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.product-menu .item-product .product2{
    height: 80%;
    width: 100%;
    background: url(assets/img/products/product2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.product-menu .item-product .product3{
    height: 80%;
    width: 100%;
    background: url(assets/img/products/product3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.product-menu .item-product .product4{
    height: 80%;
    width: 100%;
    background: url(assets/img/products/product4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.product-menu .item-product .product5{
    height: 80%;
    width: 100%;
    background: url(assets/img/products/product5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.product-menu .item-product .product6{
    height: 80%;
    width: 100%;
    background: url(assets/img/products/product6.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.product-menu .item-product .product7{
    height: 80%;
    width: 100%;
    background: url(assets/img/products/product7.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.product-menu .item-product .product8{
    height: 80%;
    width: 100%;
    background: url(assets/img/products/product8.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}

/* .product-menu .item-product .product1{} */

.product-menu .item-product .item-des{
    /* background-color: #FF33FF; */
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poiret One", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--color-secundary);
}

.product-menu .item-product .item-des1{
    color: var(--color-secundary);
}

.product-menu .item-product .item-pres{
    /* background-color: #BBDDCC; */
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: var(--color-paragraph);
}

.main .product-type-des{
    height: 10vh;
    width: 100%;
    background-color: var(--color-terceary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-paragraph);
    font-family: "Poiret One", sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    padding: 20px 0;
}

.main .product-types {
    height: 50vh;
    width: 100%;
    color: var(--color-paragraph);
    background: var(--color-terceary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main .product-types .product-type {
    height: 45vh;
    width: 25%;
    margin: 0 25px;
}

.main .product-types .product-type .type-img {
    height: 80%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.main .product-types .product-type .type-img1 {
    height: 80%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    background: url(assets/img/prod-types/prod-type1.jpg);
}
.main .product-types .product-type .type-img2 {
    height: 80%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(assets/img/prod-types/prod-type2.jpg);
}
.main .product-types .product-type .type-img3 {
    height: 80%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:-20px -12px 0 0;
    background: url(assets/img/prod-types/prod-type3.jpg);
}
.main .product-types .product-type .type-img4 {
    height: 80%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -30px 0 0 0;
    background: url(assets/img/prod-types/prod-type4.jpg);
}

.main .product-types .product-type .type-title {
    height: 10%;
    width: 100%;
    /* background-color: aqua; */
    color: var(--color-secundary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poiret One", sans-serif;
    font-size: 20px;
}

.main .product-types .product-type .type-des {
    height: 10%;
    width: 100%;
    /* background-color: darkseagreen; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .desponibilidade-sobre {
    width: 100%;
    height: 60vh;
    display: flex;
    position: relative;
}

.main .desponibilidade-sobre:after {
    content: "";
    width: .25px;
    height: 80%;
    align-self: center;
    background-color: #ffffff80;
    position: absolute;
    margin-left: 50%;
}

.main .desponibilidade-sobre .desponibilidade {
    width: 50%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    color: var(--color-paragraph);
    margin-top: 50px;
}

.main .desponibilidade-sobre .desponibilidade .title-despon{
    color: var(--color-paragraph);
    font-size: 25px;
    font-weight: 400;
    margin: 40px;
    display: flex;
    align-self: center;
    position: relative;
    justify-content: start;
    line-height: 20px;
    
}

.main .desponibilidade-sobre .desponibilidade .title-despon:after {
    content: "";
    width: 100%;
    position: absolute;
    height: 3px;
    background-color: var(--color-secundary);
    bottom: -5px;
    left: 0;
    transition: 0.3s;
}

.main .desponibilidade-sobre .desponibilidade .contact-despon{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;

}
.main .desponibilidade-sobre .desponibilidade .contact-tel{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}
.main .desponibilidade-sobre .desponibilidade .contact-email{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.main .desponibilidade-sobre .map-location {
    width: 50%;
    height: 100%;
    overflow: hidden;
    /* background-color:beige; */
}
.main .desponibilidade-sobre .map-location iframe{
    height: 80%;
    width: 90%;
    margin: 40px 30px;
}

.main .footer{
    width: 100%;
    height: 10dvh;
    /* background-color: azure; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main .footer .social-insta{
    width: 5vh;
    height: 5vh;
    /* background-color: var(--color-secundary); */
    margin: 0 20px;
    border: 1px solid var(--color-secundary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .footer .social-face{
    width: 5vh;
    height: 5vh;
    /* background-color: var(--color-secundary); */
    margin: 0 20px;
    border: 1px solid var(--color-secundary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .footer .social-youtube{
    width: 5vh;
    height: 5vh;
    /* background-color: var(--color-secundary); */
    margin: 0 20px;
    border: 1px solid var(--color-secundary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .footer .social-threads{
    width: 5vh;
    height: 5vh;
    /* background-color: var(--color-secundary); */
    margin: 0 20px;
    border: 1px solid var(--color-secundary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .footer .social-email{
    width: 5vh;
    height: 5vh;
    /* background-color: var(--color-secundary); */
    margin: 0 20px;
    border: 1px solid var(--color-secundary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .footer .icone{
    font-size:3vh;
    color: var(--color-secundary);
    margin-top: 3px;
}
.main .footer a{
    width:5vh;
    height:5vh;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}